<div class="myPBS-pillMenu-bootstrap myPBS-pillMenu-container clearfix">

	<div class="myPBS-pillMenu-content myPBS-pillMenu-overlapblackbg"></div>   

  <div class="myPBS-pillMenu-expanderMain slideRight">
    <a id="myPBS-pillMenu-navToggle" class="myPBS-pillMenu-animated-myPBS-pillMenu-arrow slideLeft">
      <span></span>
    </a>
    <a href="#" class="myPBS-pillMenu-smalLogo">
      <img class="myPBS-pillMenu-pbsLogoMobile" src="../images/pbs-logo-bw-sm.png" alt="" />
    </a>
  </div>

	<nav class="container-fluid">    
    <div class="row">
      <nav class="myPBS-pillMenu-wsmenu myPBS-pillMenu-collapsedMenu myPBS-pillMenu-hideMenuSections slideLeft gry-grdt clearfix">
        <ul class="myPBS-pillMenu-mobile-sub myPBS-pillMenu-wsmenu-list">
          <li><a href="#" class="active"><i class="myPBS-pillMenu-icon-logo"></i></a></li>
					
					{{> watchVideosPartial}}
					{{> programmingPartial}}
					{{> engagePromotePartial}}
					{{> developmentPartial}}
					{{> stationManagementPartial}}
					{{> feedsPartial}}
						
					<li><a href="#" class="myPBS-pillMenu-openCloseBtn"><i class="glyphicon glyphicon-chevron-left glyphicon-chevron-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</nav>
	
</div>
